version: '2.4'


services:
  rabbitmq:
    image: library/rabbitmq:3.8.5-management-alpine
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"
    env_file:
      - ./environment.env
    restart: on-failure

  nginx:
    build:
      context: .
      dockerfile: ./services/nginx/dokcer/Dockerfile
    ports:
      - "5775:80"
    volumes:
      - ./services/client:/client
      - ./services/nginx/app.conf:/etc/nginx/conf.d/default.conf.template
      - ./services/nginx/proxy_params_ws:/etc/nginx/proxy_params_ws
    env_file:
      - ./environment.env
    depends_on:
      - api
    restart: on-failure

  api:
    build:
      context: .
      dockerfile: ./services/api/docker/Dockerfile
    volumes:
      - ./services:/micro/services
    ports:
      - "5000:5000"
    env_file:
      - ./environment.env
    depends_on:
      - rabbitmq
      - task
    restart: on-failure

  sockets:
    build:
      context: .
      dockerfile: ./services/sockets/docker/Dockerfile
    volumes:
      - ./services:/micro/services
    ports:
      - "5001:5001"
    env_file:
      - ./environment.env
    depends_on:
      - rabbitmq
    restart: on-failure

  task:
    build:
      context: .
      dockerfile: ./services/task/docker/Dockerfile
    volumes:
      - ./services:/micro/services
    env_file:
      - ./environment.env
    depends_on:
      - rabbitmq
    restart: on-failure